@page "/manage/characters"
@inherits Page
@using Data

<div class="lcars">
    <!-- Player Characters -->
    <div class="container w3-margin-bottom">
        <!-- Titlebar -->
        <div class="row">
            <div class="hbar knee-left secondary" style="width: 56px;"></div>
            <div class="hbar row-fill secondary"></div>
            <div class="typeface text-primary" style="margin-right: 10px; margin-left: 10px;">
                <span class="w3-xlarge">PARTY</span>
            </div>
            <div class="hbar highlight" style="width: 240px; max-width: 100%;"></div>
        </div>
        <!-- Body -->
        <div class="row">
            <!-- Sidebar -->
            <div class="secondary" style="width: 120px"></div>
            <!-- Content Pane -->
            <div class="w3-padding row-fill">
                <div class="w3-container w3-right no-print">
                    <button @onclick="@(() => raw.Open())">+ Sheet</button>
                    <button @onclick="@(() => importer.Open())">+ Json</button>
                </div>
                <Col4Layout Items=Data.Party>
                    <Template>
                        <div class="row" @onclick="@(() => NavigateToPlayerCharacter(context))">
                            <div class="hbar elbow-left knee-left" style="width: 32px;"></div>
                            <div class="typeface" style="margin-left: 10px; margin-right: 10px;">
                                @context.Rank @context.Name 
                            </div>
                            <div class="hbar row-fill elbow-right knee-right"></div>
                        </div>
                        <div style="width: 100%; height: 125px;" @onclick="@(() => NavigateToPlayerCharacter(context))">
                            <img src="@context.Species.GetSpeciesImageUrl()" onerror="this.src='assets/artwork/species/Unknown.png'" style="display: block; margin-left: auto; margin-right: auto;width: 100%; max-height:125px; width: auto;">
                        </div>
                        <div class="w3-padding row">
                            <div class="hbar highlight row-fill elbow-left knee-left elbow-right knee-right">
                                <b>Stress</b> <input type="number" class="w3-small" style="width: 64px;" @bind="context.UsedStress"/> / @context.TotalStress
                            </div>
                        </div>
                        <div class="w3-padding row">
                            <div class="hbar highlight row-fill elbow-left knee-left elbow-right knee-right">
                                <b>Resistance</b> <input type="number" class="w3-small" style="width: 64px;" @bind="context.Resistance"/>
                            </div>
                        </div>
                    </Template>
                </Col4Layout>
            </div>
        </div>
        <!-- Footer -->
        <div class="row">
            <div class="hbar elbow-left secondary" style="width: 56px;"></div>
            <div class="hbar row-fill secondary" style="margin-right: 10px;"></div>
            <div class="hbar highlight" style="width: 240px; max-width: 100%;"></div>
        </div>
    </div>

    <!-- Support Characters -->
    <div class="container w3-margin-bottom">
        <!-- Titlebar -->
        <div class="row">
            <div class="hbar knee-left secondary" style="width: 56px;"></div>
            <div class="hbar row-fill secondary"></div>
            <div class="typeface text-primary" style="margin-right: 10px; margin-left: 10px;">
                <span class="w3-xlarge">SUPPORT</span>
            </div>
            <div class="hbar highlight" style="width: 240px; max-width: 100%;"></div>
        </div>
        <!-- Body -->
        <div class="row">
            <!-- Sidebar -->
            <div class="secondary" style="width: 120px"></div>
            <!-- Content Pane -->
            <div class="w3-padding row-fill">
                <div class="w3-container w3-right no-print">
                    <button @onclick="@(() => rawSupport.Open())">+ Sheet</button>
                    <button @onclick="@(() => importerSupport.Open())">+ Json</button>
                </div>
                <Col4Layout Items=Data.Supports>
                    <Template>
                        <div class="row" @onclick="@(() => NaviateToSupportCharacter(context))">
                            <div class="hbar elbow-left knee-left" style="width: 32px;"></div>
                            <div class="typeface" style="margin-left: 10px; margin-right: 10px;">
                                @context.Rank @context.Name 
                            </div>
                            <div class="hbar row-fill elbow-right knee-right"></div>
                        </div>
                        <div style="width: 100%; height: 125px;" @onclick="@(() => NaviateToSupportCharacter(context))">
                            <img src="@context.Species.GetSpeciesImageUrl()" onerror="this.src='assets/artwork/species/Unknown.png'" style="display: block; margin-left: auto; margin-right: auto;width: 100%; max-height:125px; width: auto;">
                        </div>
                        <div class="w3-padding row">
                            <div class="hbar highlight row-fill elbow-left knee-left elbow-right knee-right">
                                <b>Stress</b> <input type="number" class="w3-small" style="width: 64px;" @bind="context.UsedStress"/> / @context.TotalStress
                            </div>
                        </div>
                        <div class="w3-padding row">
                            <div class="hbar highlight row-fill elbow-left knee-left elbow-right knee-right">
                                <b>Resistance</b> <input type="number" class="w3-small" style="width: 64px;" @bind="context.Resistance"/>
                            </div>
                        </div>
                    </Template>
                </Col4Layout>
            </div>
        </div>
        <!-- Footer -->
        <div class="row">
            <div class="hbar elbow-left secondary" style="width: 56px;"></div>
            <div class="hbar row-fill secondary" style="margin-right: 10px;"></div>
            <div class="hbar highlight" style="width: 240px; max-width: 100%;"></div>
        </div>
    </div>
</div>

<AssetImporter
    @ref="importer"
    TItem="PlayerCharacter"
    Title="Import Character"
    OnLoad="onCharacterLoaded"
/>

<AssetImporter
    @ref="importerSupport"
    TItem="SupportCharacter"
    Title="Import Support Character"
    OnLoad=onSupportLoaded
/>

<RawPlayerCharacterCreator @ref=raw OnImport=@(() => StateHasChanged())></RawPlayerCharacterCreator>
<RawSupportCharacterCreator @ref=rawSupport OnImport=@(() => StateHasChanged())></RawSupportCharacterCreator>

@code {

    private RawPlayerCharacterCreator raw;
    private AssetImporter<PlayerCharacter> importer;
    private void onCharacterLoaded(PlayerCharacter character) {
        this.Data.Party.Add(character);
        this.StateHasChanged();
    }

    private RawSupportCharacterCreator rawSupport;
    private AssetImporter<SupportCharacter> importerSupport;
    private void onSupportLoaded(SupportCharacter character) {
        this.Data.Supports.Add(character);
        this.StateHasChanged();
    }

}