@page "/manage/ships"
@using Data
@inherits AppComponentBase

<div class="lcars">
    <!-- Player Ships -->
    <div class="container w3-margin-bottom">
        <!-- Titlebar -->
        <div class="row">
            <div class="hbar knee-left secondary" style="width: 56px;"></div>
            <div class="hbar row-fill secondary"></div>
            <div class="typeface text-primary" style="margin-right: 10px; margin-left: 10px;">
                <span class="w3-xlarge">SHIPS</span>
            </div>
            <div class="hbar highlight" style="width: 240px; max-width: 100%;"></div>
        </div>
        <!-- Body -->
        <div class="row">
            <!-- Sidebar -->
            <div class="secondary" style="width: 120px"></div>
            <!-- Content Pane -->
            <div class="w3-padding row-fill">
                <div class="w3-container w3-right no-print">
                    <button @onclick="@(() => raw.Open())">+ Sheet</button>
                    <button @onclick="@(() => importer.Open())">+ Json</button>
                </div>
                <Col4Layout Items=Data.Ships>
                    <Template>
                        <div class="row" @onclick="@(() => NavigateToPlayerVessel(context))">
                            <div class="hbar elbow-left knee-left" style="width: 32px;"></div>
                            <div class="typeface" style="margin-left: 10px; margin-right: 10px;">
                                @context.Name
                            </div>
                            <div class="hbar row-fill elbow-right knee-right" style="text-align: right;">
                                <small>scale @(context.Scale)</small>
                            </div>
                        </div>
                        <div style="width: 100%; height: 100px; display: table-cell; vertical-align: middle;" @onclick="@(() => NavigateToPlayerVessel(context))">
                            <img src="@context.GetShipImageUrl()" onerror="this.src='assets/artwork/ships/Unknown.png'" style="display: block; margin-left: auto; margin-right: auto;width: 100%; max-width: 640px; height: auto; max-height: 100px;">
                        </div>
                        <div class="w3-padding row">
                            <div class="hbar highlight row-fill elbow-left knee-left elbow-right knee-right">
                                <b>Shields</b> 
                                <input type="number" class="w3-small" style="width: 64px;" @bind="@context.ShieldsRemaining"/> / @context.Shields
                            </div>
                        </div>
                        <div class="w3-padding row">
                            <div class="hbar highlight row-fill elbow-left knee-left elbow-right knee-right">
                                <b>Power</b> 
                                <input type="number" class="w3-small" style="width: 64px;" @bind="@context.PowerRemaining"/> / @context.Power
                            </div>
                        </div>
                    </Template>
                </Col4Layout>
            </div>
        </div>
        <!-- Footer -->
        <div class="row">
            <div class="hbar elbow-left secondary" style="width: 56px;"></div>
            <div class="hbar row-fill secondary" style="margin-right: 10px;"></div>
            <div class="hbar highlight" style="width: 240px; max-width: 100%;"></div>
        </div>
    </div> 
</div>

<AssetImporter
    @ref="importer"
    TItem="PlayerVessel"
    Title="Import Vessel"
    OnLoad="onShipLoaded"
/>

<RawShipCreator @ref="raw"></RawShipCreator>

@code {
    private RawShipCreator raw;
    private AssetImporter<PlayerVessel> importer;
    private void onShipLoaded(PlayerVessel vessel) {
        this.Data.Ships.Add(vessel);
        this.StateHasChanged();
    }

    
}