@page "/manage/ships/vessel/{ShipId}"
@inherits Page

@if (HasShip) {
<VesselEditorPopupTab Ship=@Ship OnDelete=onConfirmDelete OnChange=StateHasChanged></VesselEditorPopupTab>
<PrintNotification/>

<div id="character-sheet" class="lcars">
    <!-- Header -->
    <div id="player-info" class="container">
        <div class="row">
            <div class="primary" style="width: calc(100% - 290px); max-width: 120px;">
                <img src="assets/starfleet.svg" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto; margin-top: 32px;">
            </div>
            <div class="w3-padding row-fill">
                <h2 class="w3-right-align text-primary typeface">STARSHIP REGISTRY</h2>
                <div class="w3-row">
                    <div class="w3-quarter text-secondary typeface">NAME:</div> 
                    <div class="w3-threequarter w3-border-bottom">@Ship.Name</div>
                </div>
                <div class="w3-row">
                    <div class="w3-quarter text-secondary typeface">DESIGNATION:</div> 
                    <div class="w3-threequarter w3-border-bottom">@Ship.Registry</div>
                </div>
                <div class="w3-row">
                    <div class="w3-quarter text-secondary typeface">SPACEFRAME:</div> 
                    <div class="w3-threequarter w3-border-bottom">@Ship.Frame?.Name</div>
                </div>
                <div class="w3-row">
                    <div class="w3-quarter text-secondary typeface">PROFILE:</div> 
                    <div class="w3-threequarter w3-border-bottom">@Ship.MissionProfile?.Name</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="hbar elbow-left" style="width: 56px;"></div>
            <div class="hbar row-fill" style="margin-right: 10px;"></div>
            <div class="hbar" style="width: 240px; max-width: 100%;"></div>
        </div>
    </div>
    <!-- Body -->
    <LCARS PrintBorders=true>
        <!-- Content -->
        <div class="w3-row row-fill">
            <SplitLayout>
                <Left>
                    <!-- Systems -->
                    <SystemsDrawer Systems="Ship.Systems" />
                    <!-- Departments -->
                    <DisciplineDrawer Disciplines="Ship.Departments" Title="DEPARTMENTS"/>
                    <!-- Image/Scale/Resistance -->
                    <img src="@Ship.GetShipImageUrl()" onerror="this.src='assets/artwork/ships/Unknown.png'" style="display: block; margin-left: auto; margin-right: auto; width: 100%; max-width: 640px; height: auto; max-height:100%;">
                    <div class="w3-row w3-margin">
                        <div class="w3-row w3-col s6">
                            <div class="w3-col s8 secondary border-secondary elbow-left knee-left typeface print-small" style="padding-left: 6px;">
                                SCALE
                            </div>
                            <div class="w3-col s4 w3-white border-secondary w3-right-align elbow-right knee-right print-small">
                                @Ship.Scale
                            </div>
                        </div>
                        <div class="w3-col s6" style="padding-left: 16px;">
                            <div class="w3-col s8 secondary border-secondary elbow-left knee-left typeface print-small" style="padding-left: 6px;">
                                RESISTANCE
                            </div>
                            <div class="w3-col s4 w3-white border-secondary w3-right-align elbow-right knee-right print-small">
                                @Ship.Resistance
                            </div>
                        </div>
                    </div>
                </Left>
                <Right>
                    <CrewSupportDrawer Ship="Ship" />
                    <PowerDrawer Ship="Ship" />
                    <ShieldsDrawer Ship="Ship" />
                    <ShipWeaponsDrawer Ship="Ship" />
                </Right>
            </SplitLayout>
        </div>
    </LCARS>

    <div class="pagebreak"></div>
    <LCARS PrintBorders=true>
        <!-- Content -->
        <div class="w3-row row-fill w3-padding">
            <div class="row w3-margin-bottom row-fill">
                <div class="hbar elbow-left knee-left" style="width: 32px;"></div>
                <div class="typeface" style="margin-left: 10px; margin-right: 10px;">
                    TALENTS 
                </div>
                <div class="hbar row-fill elbow-right knee-right"></div>
            </div>
            <div class="w3-padding row-fill">
                <Col3Layout Items=Ship.Talents>
                    <Template>
                        <div class="w3-border-bottom">
                            <b>@context.Name</b>
                            <p class="w3-small">@context.Description</p>
                        </div>
                    </Template>
                </Col3Layout>
            </div>
        </div>
    </LCARS>
</div>

} else {
    <span>No ship "@(ShipId)"</span>
}

@code {

    [Parameter]
    public string ShipId { get; set; }
    public int ShipIndex {
        get {
            int index;
            if (int.TryParse(ShipId, out index)) {
                return index;
            } else {
                return -1;
            }
        }
    }
    public PlayerVessel Ship => ShipIndex >=0 && ShipIndex < Data.Ships.Count ? Data.Ships[ShipIndex] : null;
    public bool HasShip => Ship != null;
    
    public override string PageTitle => Ship?.Name;

    private void onConfirmDelete(Vessel vessel) {
        if (vessel != null && vessel is PlayerVessel pv) {
            Data.Ships.Remove(pv);
            NavigationManager.NavigateTo("manage/ships");
        }
    }
}