@foreach (var attr in ToBalance.Enumerate()) {
    <div class="row w3-row w3-margin-bottom">
        <div class="hbar elbow-left knee-left secondary w3-col" style="width: 32px;"></div>
        <div class="hbar w3-padding typeface secondary w3-col" style="width: 125px;">
            @attr.Name
        </div>
        <div class="hbar w3-black w3-rest" style="margin-left: 10px;">
            @(Count(attr)) / @(MaxValue)
            @if(Count(attr) > MinValue && Points < MaxChanges) {
                <button @onclick="@(() => RemovePoint(attr))">-</button>
            }
            @if(Points > 0 && (Count(attr)) < MaxValue) {
                <button @onclick="@(() => AddPoint(attr))">+</button>
            }
        </div>
    </div>
}

@code {

    private int Points = 0;
    private void RemovePoint(DisciplineReference r) {
        Reference[r.Index] -= 1;
        Points += 1;
    }
    private void AddPoint(DisciplineReference r) {
        Reference[r.Index] += 1;
        Points -= 1;
    }
    private int Count(DisciplineReference attr) {
        return ToBalance[attr.Index] + Reference[attr.Index];
    }

    [Parameter]
    public int MaxChanges {get; set;} = Int32.MaxValue;
    [Parameter]
    public int MaxValue {get; set;}
    [Parameter]
    public int MinValue {get; set;} = 0;
    [Parameter]
    public Disciplines ToBalance {get; set;}
    [Parameter]
    public Disciplines Reference {get; set;}

}