@inherits AppComponentBase

<div 
    class="w3-sidebar w3-bar-block w3-collapse w3-card w3-animate-left w3-black no-print @NavMenuCssClass" 
    style="width:250px; max-width: 100%; z-index: 2;" 
    id="mySidebar" 
>
    <div style="min-height: calc(100vh - 48px);">
        <button class="w3-bar-item w3-button w3-large w3-hide-large" @onclick="CloseNavMenu">Close &times;</button>
        <div class="w3-row">
            <div class="w3-col" style="width: 48px;">
                <NavLink class="w3-button w3-block" href="" Match="NavLinkMatch.All">
                    <img src="assets/home.png" width=16 height=16>
                </NavLink>
            </div>
            <div class="w3-rest w3-right-align w3-row">
                <button class="w3-col s6 w3-button @(Data.IsGm ? "w3-blue" : "w3-black")" @onclick=@(() => Data.IsGm = true)>GM</button>
                <button class="w3-col s6 w3-button @(!Data.IsGm ? "w3-blue" : "w3-black")" @onclick=@(() => Data.IsGm = false)>Player</button>
            </div>
        </div>
        <button class="w3-button w3-block w3-left-align lcars" @onclick="@(() => collapseCreateMenu = !collapseCreateMenu)"  style="padding-bottom: 0px;">
            <div class="row">
                <div class="hbar knee-left" style="margin-right:10px;"></div>
                <div>
                    Create <i class="fa fa-caret-down"></i>
                </div>
                <div class="hbar knee-right elbow-right row-fill" style="margin-left:10px;"></div>
            </div>
        </button>
        <div id="CreateAccordion" class="@(CreateMenuCssClass) lcars w3-margin-bottom" style="padding-top: 0px;">
            <div class="lbar">
                @if (Data.IsGm) {
                <NavLink class="w3-button w3-block" href="new/plot/writer" Match="NavLinkMatch.All">
                    Write Plot
                </NavLink>
                }
                <div class="vertical-space w3-margin-left w3-margin-right">
                    <div class="row">
                        <div class="hbar secondary elbow-left knee-left" style="margin-right:10px; width: 10px;"></div>
                        <div>
                            Player Character
                        </div>
                        <div class="hbar secondary knee-right row-fill" style="margin-left:10px;"></div>
                    </div>
                    <div class="rbar" style="border-color: #CC99CC !important;">
                        <NavLink class="w3-button w3-block" href="new/player/lifepath" Match="NavLinkMatch.All">
                            Lifepath Creation
                        </NavLink>
                        <NavLink class="w3-button w3-block" href="new/player/random" Match="NavLinkMatch.All">
                            Random 
                        </NavLink>
                    </div>
                    <div class="row">
                        <div class="hbar secondary elbow-left knee-left elbow-right row-fill"></div>
                    </div>
                </div>
                <NavLink class="w3-button w3-block" href="new/support" Match="NavLinkMatch.All">
                    Support Character
                </NavLink>
                @if (Data.IsGm) {
                <NavLink class="w3-button w3-block" href="new/ship" Match="NavLinkMatch.All">
                    Ship
                </NavLink>
                <NavLink class="w3-button w3-block" href="new/species" Match="NavLinkMatch.All">
                    Species
                </NavLink>
                <NavLink class="w3-button w3-block" href="new/grid" Match="NavLinkMatch.All">
                    Battle Grid
                </NavLink>
                }
            </div>
            <div class="row">
                <div class="hbar elbow-left knee-right elbow-right row-fill"></div>
            </div>
        </div>
        <button class="w3-button w3-block w3-left-align lcars" @onclick="@(() => collapsePlayMenu = !collapsePlayMenu)" style="padding-bottom: 0px;">
            <div class="row">
                <div class="hbar knee-left" style="margin-right:10px;"></div>
                <div>
                    Manage <i class="fa fa-caret-down"></i>
                </div>
                <div class="hbar knee-right elbow-right row-fill" style="margin-left:10px;"></div>
            </div>
        </button>
        <div id="PlayAccordion" class="@(PlayMenuCssClass) lcars w3-margin-bottom" style="padding-top: 0px;">
            <div class="lbar">
                <NavLink class="w3-button w3-block" href="manage/characters" Match="NavLinkMatch.All">
                    Characters
                </NavLink>
                @if (Data.IsGm) {
                <NavLink class="w3-button w3-block" href="manage/ships" Match="NavLinkMatch.All">
                    Ships
                </NavLink>
                <NavLink class="w3-button w3-block" href="manage/species" Match="NavLinkMatch.All">
                    Custom Species
                </NavLink>
                <NavLink class="w3-button w3-block" href="manage/task/extended" Match="NavLinkMatch.All">
                    Extended Tasks
                </NavLink>
                }
            </div>
            <div class="row">
                <div class="hbar elbow-left knee-right elbow-right row-fill"></div>
            </div>
        </div>
        <button class="w3-button w3-block w3-left-align lcars" @onclick="@(() => collapseCalcMenu = !collapseCalcMenu)" style="padding-bottom: 0px;">
            <div class="row">
                <div class="hbar knee-left" style="margin-right:10px;"></div>
                <div>
                    Calculate <i class="fa fa-caret-down"></i>
                </div>
                <div class="hbar knee-right elbow-right row-fill" style="margin-left:10px;"></div>
            </div>
        </button>
        <div id="CalculatorAccordion" class="@(CalculatorCssClass) lcars w3-margin-bottom" style="padding-top: 0px;">
            <div class="lbar">
                <NavLink class="w3-button w3-block" href="calculate/stardate" Match="NavLinkMatch.All">
                    Stardate
                </NavLink>
                <NavLink class="w3-button w3-block" href="calculate/warpspeed" Match="NavLinkMatch.All">
                    Warp Speed
                </NavLink>
            </div>
            <div class="row">
                <div class="hbar elbow-left knee-right elbow-right row-fill"></div>
            </div>
        </div>
    </div>
    <div class="w3-padding w3-center" style="width: 100%; overflow: hidden;">
        <button 
            style="border: 0; padding: 0; background-color: inherit;"
            title="Save"
            @onclick="downloadDataJson"
        >
            <img src="assets/save.png" width="32" height="32">
        </button>
        <button 
            style="border: 0; padding: 0; background-color: inherit;"
            title="Load"
            @onclick="@(() => importer?.Open())"
        >
            <img src="assets/load.png" width="32" height="32">
        </button>
        <a 
            href="https://github.com/qkmaxware/TrekSharp"
            target="_blank"
            style="border: 0; padding: 0; background-color: inherit;"
            title="Contribute"
        >
            <img src="assets/github.png" width="32" height="32">
        </a>
    </div>
</div>

<div class="lcars no-print" style="position: absolute;">
<div 
    class="w3-button lcars-primary w3-large w3-hide-large w3-padding elbow-right knee-right" 
    style="position:absolute; left:-1px; top:12px; writing-mode: vertical-rl; text-orientation: mixed; z-index: 1; border: 1px solid black;" 
    @onclick="OpenNavMenu"
> Menu
</div>
</div>

<AssetImporter
    @ref="importer"
    TItem = "AppData"
    Title ="Load"
    OnLoad = "loadAppData"
/>

@code {

    private bool collapseNavMenu = true;
    private string NavMenuCssClass => collapseNavMenu ? "w3-hide" : "w3-show";

    private bool collapseCreateMenu = false;
    private string CreateMenuCssClass => collapseCreateMenu ? "w3-hide" : "w3-show";
    private bool collapsePlayMenu = false;
    private string PlayMenuCssClass => collapsePlayMenu ? "w3-hide" : "w3-show";
    private bool collapseCalcMenu = false;
    private string CalculatorCssClass => collapseCalcMenu ? "w3-hide" : "w3-show";


    private bool showLoadingModal = false;
    private string LoadModalCss => !showLoadingModal ? "w3-hide" : "w3-show";

    public void ToggleNavMenu() {
        collapseNavMenu = !collapseNavMenu;
    }

    public void CloseNavMenu() {
        collapseNavMenu = true;
    }
    public void OpenNavMenu() {
        collapseNavMenu = false;
    }

    private AssetImporter<AppData> importer;

    private void loadAppData(AppData newData) {
        this.Data.Overwrite(newData);
        this.NavigationManager.NavigateTo("");
    }

    private async Task downloadDataJson() {
        // Generate a text file
        await this.DownloadJson("adventure", Data);
    }
}
